.backArrow {
    padding-left: 10%;
    padding-top: 30px;
    display: block;
}
.back:hover {
    cursor: pointer;
}
.connectedContainer {
    width: 35px;
    height: 35px;
    padding-left: 10%;
    margin-top: 35px;
}
.informationConnectedImg {
    float: right;
}
.informationHeader {
    color: white;
    text-align: center;
    font-size: 23px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.ventNumberContainer, .temperatureContainer, .humidityContainer {
    width: 26.6%;
    float: left;
    p {
        color: white;
    }
    img {
        height: 39px;
    }
    
}
.ventNumberContainer {
    margin-left: 10%;
    p {
        margin-left: 8px;
    }
}
.temperatureContainer {
    img {
        display: block;
        margin-right: auto;
        margin-left: auto;
        padding-left: 17px;
    }
    p {
        text-align: center;
    }
}
.humidityContainer {
    img {
        float: right;
        display: block;
    }
    p {
        text-align: right;
        margin-top: 55px;
    }
}
.changeContainer {
    width: 100%;
    margin-top: 210px;
    .changeVent {
        background-color: rgb(40, 79, 255);
        height: 135px;
        width: 135px;
        border: solid 2px white;
        float: left;
        margin-left: 10%;
        border-radius: 20px;
        img {
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-top: 30px;
        }
        p {
            color: white;
            text-align: center;
        }
    }
    .changeRoom {
        height: 135px;
        width: 135px;
        border: solid 2px white;
        float: right;
        margin-right: 10%;
        border-radius: 20px;
        background-color: #24385c;
        img {
            display: block;
            margin-right: auto;
            margin-left: auto;
            margin-top: 30px;
        }
        p {
            color: white;
            text-align: center;
        }
    }
}

