<img src="assets/back.png" class="backArrow" routerLink="../Main">
<div class="connectedContainer">
    <img class="informationConnectedImg" src="assets/connected.png">
</div>
<h1 class="informationHeader">Vent Information</h1>
<div class="ventNumberContainer">
    <img class="ventNumberImg" src="assets/ventNumber.png">
    <p class="ventNumberParagraph">#1</p>
</div>
<div class="temperatureContainer">
    <img class="temperatureImg" src="assets/temperature.png">
    <p class="temperatureParagraph">21°C</p>
</div>
<div class="humidityContainer">
    <img class="humidityImg" src="assets/humidity.png">
    <p class="humidityParagraph">55%</p>
</div>
<div class="changeContainer">
    <button mat-raised-button class="changeVent" routerLink="../Vent">
        <img src="assets/changeVent.png" class="changeVentImg">
        <p class="changeVentParagraph">Change vent</p>
    </button>
    <button mat-raised-button class="changeRoom" routerLink="../">
        <img src="assets/changeRoom.png" class="changeRoomImg">
        <p class="changeRoomParagraph">Change room</p>
    </button>
</div>
