<div class="globalContainer">
    <div class="innerContainer">
        <img src="assets/back.png" class="backArrow" routerLink="../Main">
        <div class="quizPart1">
            <h1 class="quizHeader">Quiz time!</h1>
            <h2>This quiz will go over the effects of indoor climate in a working environment or in school.</h2>
            <h2>Let's get it started.</h2>
            <button class="continue continue1" mat-raised-button>Start the quiz!</button>
        </div>
        <div class="quizPart2">
            <h1 class="quizHeader">Let's get it started:</h1>
            <h2 class="question">How does a bad indoor climate affect you?</h2>
            <button class="answerContainer part2">
                <p class="answer">A: It doesn't affect you.</p>
            </button>
            <button class="answerContainer part2">
                <p class="answer">B: It will kill you.</p>
            </button>
            <button class="answerContainer correct part2">
                <p class="answer">C: It can make you tired and unfocused.</p>
            </button>
            <button class="answerContainer part2">
                <p class="answer">D: It will make you happy.</p>
            </button>
        </div>
        <div class="quizPart3">
            <h1 class="quizHeader">Next Question:</h1>
            <h2 class="question">What can you do if you get tired in class?</h2>
            <button class="answerContainer part3 correct">
                <p class="answer">A: Open a window or turn on the ventilation.</p>
            </button>
            <button class="answerContainer part3">
                <p class="answer">B: Sleep in class.</p>
            </button>
            <button class="answerContainer part3">
                <p class="answer">C: Go home.</p>
            </button>
            <button class="answerContainer part3">
                <p class="answer">D: Drink a lot of coffee and energy drinks.</p>
            </button>
        </div>
        <div class="quizPart4">
            <h1 class="quizHeader">Final Question:</h1>
            <h2 class="question">What is the ideal indoor temperature for a work place or school?</h2>
            <button class="answerContainer part4">
                <p class="answer">A: 10°.</p>
            </button>
            <button class="answerContainer part4 correct">
                <p class="answer">B: 21°.</p>
            </button>
            <button class="answerContainer part4">
                <p class="answer">C: 32°.</p>
            </button>
            <button class="answerContainer part4">
                <p class="answer">D: 43°.</p>
            </button>
        </div>
        <div class="quizPart5_1 quizPart5">
            <h1 class="quizHeader">Nice try!</h1>
            <h2>Unfortunately you got 0 out 3 questions right. <br><br>You are always welcome to try again!</h2>
            <button class="continue" mat-raised-button routerLink="../Main">Back to main</button>
        </div>
        <div class="quizPart5_2 quizPart5">
            <h1 class="quizHeader">Good one!</h1>
            <h2>You got 1 out 3 questions right. <br><br>You could use a little more practice, you can always give it another try!</h2>
            <button class="continue" mat-raised-button routerLink="../Main">Back to main</button>
        </div>
        <div class="quizPart5_3 quizPart5">
            <h1 class="quizHeader">Great Job!</h1>
            <h2>You got 2 out 3 questions right. <br><br>You must really know your indoor climate. You can always try again to get the perfect score!</h2>
            <button class="continue" mat-raised-button routerLink="../Main">Back to main</button>
        </div>
        <div class="quizPart5_4 quizPart5">
            <h1 class="quizHeader">Perfect!</h1>
            <h2>You got all the questions right! <br><br>It seems like you know what there is to know about indoor climate!</h2>
            <button class="continue" mat-raised-button routerLink="../Main">Back to main</button>
        </div>
    </div>
</div>