@import '../../styles.scss';
.backgroundGreen {
    background-color: $green !important;
}
.backgroundRed {
    background-color: $red !important;
}
.globalContainer {
    background-color: #2DC4BB;
    height: 100vh;
    width: 100%;
    color: white;
    -webkit-transition: background-color 1000ms linear;
    -ms-transition: background-color 1000ms linear;
    transition: background-color 1000ms linear;
    .toMain {
        bottom: 30px;
        position: absolute;
        color: #292c35;
        background-color: white;
        border-radius: 15px;
        width: 90px;
        font-size: 20px;
        border: none;
    }
    .rgButton {
        color: #292c35;
        font-size: 20px;
        border-radius: 15px;
    }
    .back:hover {
        cursor: pointer;
    }
    .innerContainer {
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 30px;
        .quizHeader {
            margin-top: 30px;
        }
        h1 {
            margin-top: 0px;
        }
        .continue {
            border-radius: 20px;
            background-color: #24385c;
            color: white;
            border: none;
            font-size: 20px;
            height: 45px;
            width: 160px;
            outline: none;
        }
        .red, .green, .quizPart2, .quizPart3, .quizPart4, .quizPart5 {
            display: none;
        }
        .answerContainer {
            width: 100%;
            background-color: #24385c;
            border-radius: 30px;
            margin-bottom: 15px;
            color: white;
            border: none;
            outline: none;
            transition: background 0.5s linear;
            -webkit-transition: background 0.5s linear;
            -moz-transition: background 0.5s linear;
            .answer {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}