<div class="globalContainer">
    <div class="innerContainer">
        <div class="quizPart1">
            <h1 class="quizHeader">Quiz time!</h1>
            <h2>This quiz will go over the effects of indoor climate in a working environment or in school.</h2>
            <h2>Let's get it started.</h2>
            <button class="continue continue1" mat-raised-button>Start the quiz!</button>
        </div>
        <div class="quizPart2">
            <h1 class="quizHeader">Let's get it started:</h1>
            <h2 class="question">How does a bad indoor climate affect you?</h2>
            <button class="answerContainer part2">
                <p class="answer">A: It doesn't affect you.</p>
            </button>
            <button class="answerContainer part2">
                <p class="answer">B: It makes you sweat a lot.</p>
            </button>
            <button class="answerContainer correct part2">
                <p class="answer">C: It can make you tired and unfocused.</p>
            </button>
            <button class="answerContainer part2">
                <p class="answer">D: It can make you hungry.</p>
            </button>
        </div>
        <div class="green green2_5">
            <h1 class="_5h1">Correct answer!</h1>
            <h2 class="_5p">If you are in a bad indoor climate your body can't get the oxygen it needs, which will cause you to feel tired and fatigued.</h2>
            <h2 class="_5p">You need to ensure a steady supply of fresh air to avoid this.</h2>
            <button class="rgButton 2_5continue" mat-raised-button>Continue</button>
        </div>
        <div class="red red2_5">
            <h1 class="_5h1">Wrong answer. :(</h1>
            <h2 class="_5p">If you are in a bad indoor climate your body can't get the oxygen it needs, which will cause you to feel tired and fatigued.</h2>
            <h2 class="_5p">You need to ensure a steady supply of fresh air to avoid this.</h2>
            <button class="rgButton 2_5continue" mat-raised-button>Continue</button>
        </div>
        <div class="quizPart3">
            <h1 class="quizHeader">Next Question:</h1>
            <h2 class="question">What is the risk of being in an environment with low humidity?</h2>
            <button class="answerContainer part3 correct">
                <p class="answer">A: It can increase risk of infections.</p>
            </button>
            <button class="answerContainer part3">
                <p class="answer">B: It can make you tired.</p>
            </button>
            <button class="answerContainer part3">
                <p class="answer">C: It can make it hard to breath.</p>
            </button>
            <button class="answerContainer part3">
                <p class="answer">D: It can make you thirsty.</p>
            </button>
        </div>
        <div class="green green4_5">
            <h1 class="_5h1">Correct answer!</h1>
            <h2 class="_5p">The ideal temperature for a school is 19-22°C. This will increase productivity and make the students feel awake.</h2>
            <button class="4_5continue rgButton" mat-raised-button>Continue</button>
        </div>
        <div class="red red4_5">
            <h1 class="_5h1">Wrong answer. :(</h1>
            <h2 class="_5p">The ideal temperature for a school is 19-22°C. This will increase productivity and make the students feel awake.</h2>
            <button class="4_5continue rgButton" mat-raised-button>Continue</button>
        </div>
        <div class="quizPart4">
            <h1 class="quizHeader">Final Question:</h1>
            <h2 class="question">What do you think is the ideal indoor temperature for a work place or school?</h2>
            <button class="answerContainer part4">
                <p class="answer">A: 16°.</p>
            </button>
            <button class="answerContainer part4 correct">
                <p class="answer">B: 21°.</p>
            </button>
            <button class="answerContainer part4">
                <p class="answer">C: 26°.</p>
            </button>
            <button class="answerContainer part4">
                <p class="answer">D: 31°.</p>
            </button>
        </div>
        <div class="green green3_5">
            <h1 class="_5h1">Correct answer!</h1>
            <h2 class="_5p">Eyes become dry and irritated, skin gets flaky and itchy, and the low humidity inflames and dries out the repiratory system.</h2>
            <h2 class="_5p">As a result, the risk of colds, flus and other infections are substantially increased.</h2>
            <button class="3_5continue rgButton" mat-raised-button>Continue</button>
        </div>
        <div class="red red3_5">
            <h1 class="_5h1">Wrong answer. :(</h1>
            <h2 class="_5p">Eyes become dry and irritated, skin gets flaky and itchy, and the low humidity inflames and dries out the repiratory system.</h2>
            <h2 class="_5p">As a result, the risk of colds, flus and other infections are substantially increased.</h2>
            <button class="3_5continue rgButton" mat-raised-button>Continue</button>
        </div>
        <div class="quizPart5_1 quizPart5">
            <h1 class="quizHeader">Nice try!</h1>
            <h2>Unfortunately you got 0 out 3 questions right. <br><br>You are always welcome to try again!</h2>
            <button class="continue retry" mat-raised-button>Retry the quiz</button>
        </div>
        <div class="quizPart5_2 quizPart5">
            <h1 class="quizHeader">Good one!</h1>
            <h2>You got 1 out 3 questions right. <br><br>You could use a little more practice, you can always give it another try!</h2>
            <button class="continue retry" mat-raised-button>Retry the quiz</button>
        </div>
        <div class="quizPart5_3 quizPart5">
            <h1 class="quizHeader">Great Job!</h1>
            <h2>You got 2 out 3 questions right. <br><br>You must really know your indoor climate. You can always try again to get the perfect score!</h2>
            <button class="continue retry" mat-raised-button>Retry the quiz</button>
        </div>
        <div class="quizPart5_4 quizPart5">
            <h1 class="quizHeader">Perfect!</h1>
            <h2>You got all the questions right! <br><br>It seems like you know what there is to know about indoor climate!</h2>
        </div>
        <button class="toMain" mat-raised-button routerLink="../Main">Exit</button>
    </div>
</div>