<img src="../../assets/back.png" class="backArrow" routerLink="../Main">
<h1 class="moodHeader">How are <br>you feeling <br>right now?</h1>
<div class="moodContainer">
<button class="moodOption optionLeft" mat-raised-button>
    <img class="moodImg" src="../../assets/goodGreen.png">
    <p class="moodParagraph good">Good</p>
</button>
<button class="moodOption optionRight" mat-raised-button>
    <img class="moodImg" src="../../assets/tired.png">
    <p class="moodParagraph tired">Tired</p>
</button>
<button class="moodOption optionLeft optionBottom" mat-raised-button>
    <img class="moodImg" src="../../assets/warm.png">
    <p class="moodParagraph warm">Warm</p>
</button>
<button class="moodOption optionRight optionBottom" mat-raised-button>
    <img class="moodImg" src="../../assets/cold.png">
    <p class="moodParagraph cold">Cold</p>
</button>
<h2 class="moodSelect">Your choice has been registered.</h2>
<button class="back moodSelectBtn" mat-raised-button routerLink="../Main">Go back to Main</button>
</div>
