<mat-slide-toggle class="toggleMode"></mat-slide-toggle>
<div class="moodBox" mat-raised-button>
    <h1 class="moodHeader">How are you feeling?</h1>
    <div class="moodParagraphContainer">
        <p class="moodParagraph">Change your mood here so we can help you find the perfect climate</p>
    </div>
    <div class="moodIconContainer">
        <img class="moodIcon" src="../../assets/goodGreen.png" *ngIf="disMood === 'good'">
        <img class="moodIcon" src="../../assets/tired.png" *ngIf="disMood === 'tired'">
        <img class="moodIcon" src="../../assets/warm.png" *ngIf="disMood === 'warm'">
        <img class="moodIcon" src="../../assets/cold.png" *ngIf="disMood === 'cold'">
    </div>
    <div class="navButtonContainer"><button class="moodButton navButton" mat-raised-button routerLink="../Mood">Change mood</button></div>
</div>
<div class="informationBox" mat-raised-button>
    <h1 class="informationHeader">Current Information</h1>
    <p class="left">Connected to:</p>
    <p class="right">Vent {{disVent}}</p>
    <p class="left">Temperature:</p>
    <p class="right">{{disTemp}}°C</p>
    <p class="left">Humidity:</p>
    <p class="right">{{disHum}}</p>
    <p class="left">Fan speed:</p>
    <p class="right">{{disFan}}%</p>
    <img class="connected" src="assets/connected.png">
    <div class="navButtonContainer"><button (click)="disconnect(connection_id);" class="logoutButton navButton" mat-raised-button routerLink="../">Logout</button></div>
</div>
<div class="quizBox" routerLink="../Quiz">
    <div class="globalContainer">
    <h1 class="quizHeader">Learn more about indoor climate!</h1>
    </div>
    <div class="navButtonContainer"><button class="quizButton navButton" mat-raised-button routerLink="../Quiz">Take a quiz!</button></div>
</div>