<a class="moodA" mat-raised-button>
<div class="moodBox" mat-raised-button routerLink="../Mood">
    <div class="globalContainer">
    <h1 class="moodHeader">How are <br>you <br>feeling?</h1>
    <div class="moodImgContainer">
        <img class="moodImg" src="assets/good.png">
    </div>
    </div>
    <div class="moodParagraphContainer">
        <p class="moodParagraph">Change how you feel right here!</p>
    </div>
</div>
</a>
<a class="informationA" mat-raised-button>
<div class="informationBox" mat-raised-button routerLink="../Information">
    <h1 class="informationHeader">Current<br> Information</h1>
    <p class="left">Connected to:</p>
    <p class="right">Vent 1</p>
    <p class="left">Temperature</p>
    <p class="right">21°C</p>
    <p class="left">Humidity</p>
    <p class="right">55%</p>
    <img class="connected" src="assets/connected.png">
</div>
</a>
<a class="quizA" mat-raised-button>
<div class="quizBox" routerLink="../Quiz">
    <div class="globalContainer">
    <h1 class="quizHeader">Take a quiz!</h1>
    <div class="quizImgContainer">
        <img class="quizImg" src="assets/quiz.png">
    </div>
    </div>
    <p class="quizParagraph">Learn more about indoor climate.</p>
</div>
</a>