h1 {
    font-weight: 400;
    font-size: 26px;
    color: white;
    padding-left: 8%;
    padding-right: 8%;
    padding-top: 15px;
    margin-bottom: 10px;
}
p {
    margin-top: 8px;
    margin-bottom: 8px;
}
.moodIcon {
    height: 35px;
    width: auto;
    padding-left: 16%;
    margin-top: 20px;
}
.moodBox {
    background-color: #225bf9;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 170px;
    border-radius: 20px;
    margin-top: 40px;
    display: block;
    .moodParagraphContainer {
        color: white;
        width: 100%;
        .moodParagraph {
            padding-left: 8%;
            padding-right: 8%;
        }
    }
    .moodIconContainer {
        width: 50%;
        float: left;
    }
}
.navButtonContainer {
    width: 42%;
    float: right;
    padding-right: 8%;
    .moodButton, .quizButton, .logoutButton {
        float: right;
        width: 90%;
        height: 35px;
        border-radius: 10px;
        border: none;
        color: white;
    }
    .moodButton {
        margin-top: 20px;
    }
    .quizButton {
        margin-top: 15px;
    }
    .moodButton, .quizButton {
        background-color: #24344c;
    }
    .logoutButton {
        background-color: #225bf9;
        margin-top: 10px;
    }
}
.informationBox {
    background-color: #24344c;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 255px;
    border-radius: 20px;
    margin-top: 20px;
    display: block;
    .right {
        float: right;
        color: white;
        width: 42%;
        padding-right: 8%;
        text-align: right;
    }
    .left {
        float: left;
        color: white;
        width: 42%;
        padding-left: 8%;
    }
    .connected {
        padding-left: 8%;
        margin-top: 19px;
        float: left;
    }
}
.quizBox {
    background-color: #2dc4bb;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 140px;
    border-radius: 20px;
    margin-top: 20px;
    display: block;
    .globalContainer {
        height: 75px;
    }
    .quizImgContainer {
        width: 50%;
        float: left;
        .quizImg {
            margin-top: 20px;
            width: 70px;
            height: auto;
            display: block;
            margin-right: auto;
            margin-left: auto;
        }
    }
    .quizParagraph {
        padding-left: 8%;
        color: white;
    }
}