<img class="logo" src="assets/Logo-white-new.png">
<div class="inputContainer">
    <p class="inputTitle">Room name:</p>
    <input class="input" [formControl]="searchControl" placeholder="Zea1">
    <button *ngIf="success" class="button" mat-raised-button routerLink="Vent">LOG IN</button>
    <button *ngIf="success==false" class="buttonFalse" mat-raised-button>LOG IN</button>
</div>
<div class="weatherContainer">
    <div class="weatherSubContainer">
        <p class="weatherTemp">14°</p>
        <img class="weatherImg" src="assets/weather.png">
    </div>
</div>